<div class="panel panel-default">
   <div class="panel-body text-center">
         <div class ="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <subject-selector>
            <subject-selector/>
         </div>
         <div class ="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <tense-selector>
            <tense-selector/>
         </div>
         <div class ="col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-hide='true'>
            <object-selector>
            <object-selector/>
         </div>
         <div class ="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <verb-selector>
            <verb-selector/>
         </div>
         <div class ="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <ending-selector>
            <ending-selector/>
         </div>
   </div>
</div>   
<div class="row">
	<div  class="form-group text-center">
		<h3 ng-class="{'text-success' : MainCtrl.validVerb, 'text-danger' : !MainCtrl.validVerb}">
			{{MainCtrl.fullWordSwahili}}
		</h3>
		<h4 class="text-default">
			{{MainCtrl.fullWordEnglish}}
		</h4>			
		<h3 ng-class="{'text-success' : MainCtrl.validVerb, 'text-danger' : !MainCtrl.validVerb}">
			{{MainCtrl.message}} <span ng-class="{'glyphicon-thumbs-up' : MainCtrl.validVerb, 'glyphicon-thumbs-down' : !MainCtrl.validVerb}" class="glyphicon"/>
		</h3>
		<h4 ng-hide="MainCtrl.validVerb" class="text-danger">
			{{MainCtrl.invalidErrorMsg}}
		</h4>
	</div>
</div>

