<div class="well">
	<h4><strong><a class="" href="https://www.linkedin.com/in/duncan-hill-21143193">Duncan Hill - Linked <i class="fa fa-linkedin-square"></i></a></strong></h4>
	<h4><strong><a class="text-info" href="https://github.com/duncansultan/SwahiliWordGen.git">Swahili Word Generator GitHub <i class="fa fa-github"></i></a></strong></h4>
	<br/>
	<ul class="list-unstyled">
		<li><strong>Frameworks</strong</li>
		<ul>
			<li><strong><a href="https://nodejs.org/">Node.js</a></strong></li>
			<li><strong><a href="http://angularjs.org/">Angular.js</a></strong></li>
		</ul>
		<li><strong>User Interface/Styling</strong</li>
		<ul>
			<li><strong><a href="http://getbootstrap.com/">Bootstrap</a></strong></li>
			<li><strong><a href="https://bootswatch.com/">Bootswatch</a></strong></li>
			<li><strong><a href="https://fortawesome.github.io/Font-Awesome/">Font-Awesome</a></strong></li>
		</ul>
		<li><strong>IDE/Tools</strong</li>
		<ul>
			<li><strong><a href="http://gruntjs.com/">Grunt</a></strong></li>
			<li><strong><a href="https://notepad-plus-plus.org/">Notepad++</a></strong></li>
		</ul>
	</ul>
</div>